@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
body {
    overflow: hidden;
    color: var(--soft-black);
}
main {
    height: 100vh;
    width: 100%;
    .opening-page {
        width: 100%;
        height: 100%;
        position: relative;
        background-color: var(--soft-black);
        z-index: -5;
        img {
            object-fit: fill;
            width: 100%;
            height: 100%;
            animation: imageOnLoad 2s ease;
        }
        .loading-cont {
            background-color: var(--light-grey);
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            position: absolute;
            top: 40%;
            left: 40%;

            translate: 0 -60%;
            display: flex;
            gap: 1rem;
            align-items: end;

            h2 {
                font-size: 2rem;
            }
            .dots-cont {
                display: flex;
                gap: 0.5rem;
                align-items: end;
                .dot {
                    margin-bottom: 0.5rem;
                    width: 0.5rem;
                    height: 0.5rem;
                    background-color: var(--navy-blue);
                    border-radius: 50%;
                }
                .active-dot {
                    background-color: var(--teal-blue);
                    animation: bounceDotsUp 0.5s ease alternate;
                }
                .pedding-dot {
                    background-color: var(--slate-grey);
                    animation: bounceDotsDown 1s ease alternate;
                }
            }
        }
    }
}
.dialog {
    width: 30rem;
    height: 12rem;
    position: relative;
    overflow: visible;
    border: none;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    .error-msg {
        color: var(--red);
        margin-top: 0.5rem;
    }
    .name-input-cont {
        width: 100%;
        height: 100%;
        background-color: var(--blue);
        padding: 0.5rem;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 0.25rem;
        &::after,
        &::before {
            content: "";
            position: absolute;
            border-radius: 0.5rem;
            width: 100%;
            height: 100%;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            background-image: conic-gradient(
                from var(--angle),
                var(--red),
                var(--gold),
                var(--teal-blue),
                var(--red)
            );

            z-index: -1;
            padding: 0.25rem;
            animation: spinningBorder 5s linear infinite;
        }
        &::before {
            filter: blur(1.5rem);
            opacity: 0.25;
        }

        .name-field {
            margin: 0.5rem 0;
            display: flex;
            gap: 2rem;
            label {
                display: grid;
                gap: 0.5rem;
                input {
                    height: 1.5rem;
                    padding: 0 0.5rem;
                    outline: 2px solid var(--slate-grey);
                    border: none;
                    border-radius: 0.25rem;
                    height: 2rem;
                    &:focus,
                    &:invalid:focus,
                    &:valid:focus {
                        outline-color: var(--teal-blue);
                    }

                    &:user-invalid {
                        outline-color: var(--red);
                    }

                    &:user-valid,
                    &:valid {
                        outline-color: var(--moderate-green);
                    }
                }
            }
            .second-player-label {
                display: none;
            }
        }
        .start-game-btn {
            padding: 0.5rem 1rem;
            margin-top: 1rem;
            background-color: var(--moderate-green);
            border: none;
            color: var(--white);
            border-radius: 0.5rem;
            cursor: pointer;
        }
    }
}

@keyframes imageOnLoad {
    0% {
        transform: scale(0, 0);
        opacity: 0;
    }
    100% {
        transform: scale(1, 1);
        opacity: 1;
    }
}

@keyframes bounceDotsUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(4px);
    }
}
@keyframes bounceDotsDown {
    0% {
        transform: translateY(4px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes spinningBorder {
    0% {
        --angle: 0deg;
    }
    100% {
        --angle: 360deg;
    }
}
