@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
h2,
.player1-board-title,
.player2-board-title {
    text-align: center;
}
body {
    margin: 20px;
    font-family: sans-serif;
    display: grid;
    place-items: center;
    /* overflow: hidden; */
}
button {
    padding: 0.5rem 1rem;
    margin-top: 0rem;
    border: none;
    color: var(--white);
    border-radius: 0.5rem;
    cursor: pointer;
}
.oponent-board-cont {
    display: none;
}
.gameboard {
    display: flex;
    gap: 3rem;
    height: 100vh;
    background-color: var(--light-grey);
    padding-left: 2rem;
    padding-top: 1rem;
    padding-right: 2rem;
}
#main-grid,
.enemy-board {
    display: grid;
    height: 400px;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
    position: relative;
    width: 400px;
    border: 1px solid var(--soft-black);
    margin-bottom: 20px;
}
.enemy-board {
    display: none;
}
.cell {
    box-sizing: border-box;
    border: 1px solid var(--slate-grey);
    width: 40px;
    height: 40px;
}
.ship {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: var(--blue);
    cursor: grab;
    user-select: none;
    border: 2px solid var(--teal-blue);
    opacity: 0.6;
}
.error {
    position: relative;
    text-align: center;
    top: -3rem;
    left: 50%;
    transform: translateX(-50%);
    color: var(--red);
}

/* style dialog */
.dialog {
    width: 30rem;
    height: 12rem;
    position: relative;
    overflow: visible;
    border: none;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    .error-msg {
        color: var(--red);
        margin-top: 0.5rem;
    }
    .name-input-cont {
        width: 100%;
        height: 100%;
        background-color: var(--blue);
        padding: 1rem;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 0.25rem;
        &::after,
        &::before {
            content: "";
            position: absolute;
            border-radius: 0.5rem;
            width: 100%;
            height: 100%;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            background-image: conic-gradient(
                from var(--angle),
                var(--red),
                var(--gold),
                var(--teal-blue),
                var(--red)
            );

            z-index: -1;
            padding: 0.25rem;
            animation: spinningBorder 5s linear infinite;
        }
        &::before {
            filter: blur(1.5rem);
            opacity: 0.25;
        }

        .name-field {
            margin: 1rem 0;
            display: flex;
            gap: 2rem;
            label {
                display: grid;
                gap: 0.5rem;
                input {
                    height: 1.5rem;
                    padding: 0 0.5rem;
                    outline: 2px solid var(--slate-grey);
                    border: none;
                    border-radius: 0.25rem;
                    height: 2rem;
                    &:focus,
                    &:invalid:focus,
                    &:valid:focus {
                        outline-color: var(--teal-blue);
                    }

                    &:user-invalid {
                        outline-color: var(--red);
                    }

                    &:user-valid,
                    &:valid {
                        outline-color: var(--moderate-green);
                    }
                }
            }
            .second-player-label {
                display: none;
            }
        }
        .done-btn {
            background-color: var(--moderate-green);
        }
    }
}

/* Btns */
.btns-cont {
    display: flex;
    position: absolute;
    justify-content: space-evenly;
    bottom: 8px;
    left: 0;

    width: 100%;

    button {
        &:first-child {
            background-color: var(--red);
        }

        &:nth-child(2),
        &:nth-child(3) {
            background-color: var(--teal-blue);
        }
        &:nth-child(4),
        &:last-child {
            background-color: var(--moderate-green);
        }
    }
    .player1-board-btn,
    .player2-board-btn {
        display: none;
    }
}

.rotate-vertical {
    transform: rotate(-90deg);
}

@keyframes spinningBorder {
    0% {
        --angle: 0deg;
    }
    100% {
        --angle: 360deg;
    }
}
